<section>
    <div>
        <a href="/post/view/{{id}}">
            <h2>{{title}}</h2>
        </a>
        <p>Posted by {{user.name}} on {{format_date date}}</p>
    </div>
    <p>{{post_body}}</p>
</section>